body {
    margin: 0;
    padding: 0;
    background-color: #E6BF9C;  
  }
    .topnav {
    background-color: #F2E2DC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
  
  .logo{
    font-size: 1.5rem;
    margin: .5rem;
  }
    
  .topnav li:hover {
    background-color: #E6BF9C;
    text-decoration: none;
    color: black;
    
    
    }
    
    .topnav-links ul {
    margin: 0;
    padding: 0;
    display: flex; 
    }
  
    .topnav-links li {
    list-style: none;
    } 
  
  
    .topnav-links li a {
    display: block;
    padding: 1rem;
    }
  
  .toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar {
    width: 100%;
    background-color: black;
    border-radius: 10px;
    height: 3px;
  }
  
  
  @media (min-width:481px) {
  
    .toggle-button {
      display: flex;
  
    }
    .topnav-links {
      display: flex;
      width: 100%;
    }
  
  
    .topnav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .topnav-links ul {
      flex-direction: column;
      width: 100%;
    }
  
    .topnav-links li {
  text-align: center;
  
    }
  .topnav-links li a {
    padding: .5rem 1rem;
  }
  
  .topnav-links.active {
    display: flex;
  }

  
   
  
  }
  
  
    
  
  
  
  
  p{
    font-size:24px;
    
  }
  
  header,
  footer {
    background-color:#F2E2DC;
    grid-column: 1 / span 4;
    height: 50px;
   
  
  }
  
  .container{
     display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 25px;
    width: 100%;
    
  }
  
  
  .fullform {
     background: #FAEDD7;
    padding: 30px 40px;
    grid-column: 2/ 4;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 8px;
 
    box-shadow: 0 0 5px ;
    
  
   
    
  }
  
  .fullform h1 {
    text-align: center;
    margin-top: none;
  
   
  }
  
  .fullform label {
    
    display: block;
  
    
  }
  
  .formbox {
   
   border-radius: 8px;
  
    margin: 4px 0;
    padding: 12px 18px;
    border-radius: 1%;
   
    
  }
  
  .formbox label {
    
    display: block;
    text-align: left;
    font-size: 15px;
  
    
    
  }
  
  
  .formbox input, .formbox textarea {
    border: 1px solid gray;
    background-color: #FFF3EB;
    width: 100%;
    border-radius: 2px;
    font-size: 16px;
  }


 
  
  
  button {
    
    
    
  }